<div id="container">
<header>This is the HEADER</header>
<title>This is the last Angular example from course</title>
  <div id="content">
        <div id="nav1">
          <button id="profile" routerLink="/profile">Profile</button>
          <button id="posts" routerLink="/posts">Posts</button>
          <button id="add-post" routerLink="/add-post">Add new Post</button>
        </div>

        <div class="example-button-row">
          <button mat-button>Basic</button>
          <button mat-button color="primary">Primary</button>
          <button mat-button color="accent">Accent</button>
          <button mat-button color="warn">Warn</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button href="https://www.wikipedia.org/" target="_blank">Link</a>
        </div>

        <div id="main">
        <router-outlet></router-outlet>
        </div>
  </div>


<footer>this is the FOOTER</footer>
</div>
